.contacts {
  min-width: 320px;
  overflow: hidden;
  width: 100%;
}

.contacts__container {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 560px calc(100% - 660px);
  grid-column-gap: 100px;

  @include vp-1023 {
    grid-template-columns: repeat(2, calc((100% - 30px) / 2));
    grid-column-gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    grid-template-columns: 100%;
    grid-row-gap: 37px;
    padding: 58px 15px 65px;
  }
}

.contacts__map {
  background-color: $color-pattens-blue;
  width: 100%;
  height: 306px;
  position: relative;
  z-index: 2;

  @include vp-1023 {
    height: 335px;
  }

  @include vp-767 {
    grid-row: 2 / 3;
    height: 316px;
  }
}

.contacts__bg {
  z-index: 0;
}

.contacts__info {
  align-self: center;
}

.contacts__description {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    grid-row: 1 / 2;
  }
}

.contacts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.contacts__text--tel {
  @include hover-focus {
    opacity: 0.8;
  }
}

.contacts__icon {
  display: block;
  width: 18px;
  height: 22px;
}

.contacts__icon--map {
  @include vp-1023 {
    margin-top: 6px;
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 22px;
}

.contacts__item {
  display: grid;
  grid-template-columns: 18px calc(100% - 28px);
  grid-column-gap: 10px;
}
