.main-header {
  z-index: 3;
  min-width: 320px;
  overflow: hidden;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  position: absolute;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }
}

.main-header__container {
  transition: $trans-default;
  padding: 35px 30px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  @include vp-1023 {
    padding: 30px 45px 25px;
  }

  @include vp-767 {
    padding: 20px 15px 20px;
  }
}

.main-header__toggle {
  border: none;
  padding: 0;
  background-color: transparent;
  display: none;
  position: absolute;
  right: 15px;
  top: 24px;
  width: 24px;
  height: 14px;

  @include vp-767 {
    display: block;
  }
}

.main-header__logo {
  fill: $color-alice-blue;
  width: 70px;
  height: 38px;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.main-header__list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-column-gap: 33px;

  @include vp-1023 {
    grid-column-gap: 24px;
    grid-row-gap: 20px;
  }

  @include vp-767 {
    display: none;
  }
}

.main-header__item {
  max-width: 200px;
  display: flex;
  margin: 10px 0;

  @include vp-1023 {
    margin: 1px 0;
  }
}

.main-header__link {
  color: $color-alice-blue;
}

.main-header--opened {
  @include vp-767 {
    transition: 300ms;
    height: 100%;
    background: rgba(0, 43, 102, 0.5);
  }
}

.main-header--opened .main-header__container {
  @include vp-767 {
    transition: $trans-default;
    background-color: $color-alice-blue;
    margin-left: auto;
    margin-right: 0;
    width: 89%;
    min-width: 285px;
    padding: 20px 15px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.main-header--opened .main-header__list {
  @include vp-767 {
    display: grid;
    grid-template-columns: max-content;
    grid-row-gap: 26px;
    margin-left: 10px;
  }
}

.main-header--opened .main-header__link {
  @include vp-767 {
    margin: 0;
    color: $color-tangaroa;
    font-size: 18px;
    line-height: 22px;
  }
}

.main-header--opened .main-header__logo {
  @include vp-767 {
    fill: $color-tangaroa;
    margin-bottom: 42px;
  }
}

.main-header--opened .main-header__toggle {
  width: 15px;
}

.main-header--closed .main-header__toggle::after {
  cursor: pointer;
  display: block;
  content: "";
  background-image: url("../img/svg/menu-open.svg");
  width: 24px;
  height: 14px;
}

.main-header--opened .main-header__toggle::after {
  cursor: pointer;
  display: block;
  content: "";
  background-image: url("../img/svg/menu-close.svg");
  width: 14px;
  height: 14px;
  margin-right: 0;
}

.main-header--no-js .main-header__toggle {
  display: none;
}

.main-header--no-js .main-header__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-row-gap: 5px;
}
