.container {
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;
  padding: 120px 30px;
  // padding-right: 60px;
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  min-width: 1024px;

  @include vp-1023 {
    min-width: 768px;
    padding: 90px 45px 100px;
  }

  @include vp-767 {
    min-width: 320px;
    padding: 57px 15px 65px;
  }
}
