.container {
  padding: 30px 30px 35px;
  padding-right: 60px;
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  min-width: 1024px;

  @include vp-1023 {
    min-width: 768px;
    padding: 30px 45px 25px;
  }

  @include vp-767 {
    min-width: 320px;
    padding: 20px 15px 20px;
  }
}
